<nav class="breadcrumb "  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-masculina" >Moda masculina</a></li>
        <li class="breadcrumb-item active">Cueca</li>
    </ol>
  </nav>
  <br>
  <h2>Cueca</h2>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cf.shopee.com.br/file/c6064e50f6672f6b0cdffcbc141475c9

                            ">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://a-static.mlcdn.com.br/618x463/kit-10-cuecas-boxer-falke-microfibra-masculina-cores-variadas-90-poliester-10-elastano/levante/6770359059/49034306cf03ea35bab893160f5c964f.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://mash.vteximg.com.br/arquivos/ids/182753-1000-1000/KIT-10-CUECAS-BOXER-COTTON-SORTIDO-03-MASH_11020.jpg?v=637522116262970000">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cdn.dooca.store/176/posts/post-und.jpg?v=1592249881&webp=0
            ">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  
  
 
