<nav class="breadcrumb"  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-feminina" >Moda feminina</a></li>
        <li class="breadcrumb-item active">Calça</li>
    </ol>
    
  </nav>

  <br>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cea.vtexassets.com/arquivos/ids/11718941/Calca-Jeans-Feminina-Super-Skinny-Cintura-Alta-Azul-Medio-9865438-Azul_Medio_1.jpg?v=637160030241930000 " >
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans - azul escura</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://static3.tcdn.com.br/img/img_prod/793834/calca_jeans_feminina_com_puidos_161013051_1_20200909093337.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans -  azul clara </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://images-americanas.b2w.io/produtos/1663097544/imagens/calca-jeans-feminina-jogger-cos-elastico-blogueira-jog01/3249689288_1_large.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://d3g3q9ec0sbhdi.cloudfront.net/Custom/Content/Products/31/67/31673_calca-jeans-feminina-mom-monnari-cjm8375-cjm8375_l2_637363875369509817.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans Clara  </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://img.elo7.com.br/product/600x380/30674E1/calca-jeans-feminina-plus-size-44-46-ao-58-60-62-64-66-3152-roupas-grandes-para-mulher.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans - plus size </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://m.media-amazon.com/images/I/51+ko4tZNxL._AC_SX679_.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans - plus size </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  
  
