<nav class="breadcrumb "  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-masculina" >Moda masculina</a></li>
        <li class="breadcrumb-item active">Camisa</li>
    </ol>
  </nav>
  <br>
  <h3>Short</h3>
  
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="	https://i.pinimg.com/736x/cf/67/99/cf6799df14825b4546c2870cc4efa0a8.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Short cavera </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://mhmcdn.manualdohomemmoderno.com.br/?w=750&h=450&quality=31&clipping=landscape&url=https://manualdohomemmoderno.com.br/files/2018/09/bermuda13.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Short bege </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://i.pinimg.com/564x/1d/30/42/1d304227c6c47c126252ba3964ed48ca.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Short preto </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cf.shopee.com.br/file/ae6b1a829b24127238a12638fe8da439
            ">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://images-americanas.b2w.io/produtos/01/00/img/3434603/2/3434603204_1GG.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
              <article>
                  <div class="imagem">
                      <img
                          src="https://images.tcdn.com.br/img/img_prod/747002/short_estampado_masculino_hoshwear_new_summer_colorido_415_1_20200124135231.jpg
  
                          ">
                  </div>
                  <div class="descricao">
                      <h2> Bermuda Jeans destroyed</h2>
                  </div>
                  <div class="valor">
                      <h3>R$ 140,00</h3>
                  </div>
                  <div class="botao">
                    <button mat-raised-button >Comprar</button>
                  </div>
              </article>
          </th>
         
        
        </tr>
    </table>
  </div>
  
  
 

