<nav class="breadcrumb "  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-masculina" >Moda masculina</a></li>
        <li class="breadcrumb-item active">Bermuda</li>
    </ol>
</nav>
<br>
<h1>ola</h1>
<h2>Bermuda</h2>
<div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.netshoes.com.br/produtos/bermuda-sarja-ecxo-ancora-masculina/18/LYU-0381-018/LYU-0381-018_zoom1.jpg?ts=1604668492">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/952/416/products/911-838086e19b37be969c15616943300022-1024-1024.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://i.pinimg.com/564x/77/bd/80/77bd80b5e13b76e0b1b793fc6e0fe2e3.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda jeans </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/109/024/products/32322-f11-d86b887cf47e476e9415950135653806-1024-1024.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.zattini.com.br/produtos/bermuda-jeans-ecxo-destroyed-masculina/08/LYU-0166-008/LYU-0166-008_zoom1.jpg?ts=1584118950&ims=544x">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
        </tr>
    </table>
</div>