<nav class="breadcrumb"  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-feminina" >Moda feminina</a></li>
        <li class="breadcrumb-item active">Casaco</li>
    </ol>
    
  </nav>

  <br>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="	https://m.media-amazon.com/images/I/51cORWggWXL._AC_SY450_.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Casaco preto </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://shoppingcity.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/c/a/casaco_feminino_longo_camel_leeds_1.jpg

                        ">
                    </div>
                    <div class="descricao">
                        <h2> casaco bege </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cf.shopee.com.br/file/8c7020124ceb503d149adeb14a90bc53">
                    </div>
                    <div class="descricao">
                        <h2> Casaco cinza </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images2.marisa.com.br/medias/sys_master/images/images/hda/he8/12823067459614/Casaco-Feminino-Soft-Bolsos-Botoes-10047815957-C1.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Casaco </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://img.elo7.com.br/product/original/3701984/cardigan-feminino-trico-aberto-casaco-feminino-ref-52093-saia.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Casaco verde</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  
  
