<nav class="breadcrumb"  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-feminina" >Moda feminina</a></li>
        <li class="breadcrumb-item active">Short</li>
    </ol>
    
  </nav>

  <br>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.dafiti.com.br/p/Bidoo-Short-Feminino-Estampado-Girassol-2315-5039807-1-zoom.jpg" >
                    </div>
                    <div class="descricao">
                        <h2> Short de Girassol </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images.tcdn.com.br/img/img_prod/585762/short_feminino_em_lastex_1149_5_72ef02d16cef3af05b8a93f54e637c00.jpeg">
                    </div>
                    <div class="descricao">
                        <h2> Conjunto de Short por: </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://39059.cdn.simplo7.net/static/39059/sku/short-praia-short-praia-feminino-short-de-praia-feminino-bulldog--p-1633002681956.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Short amarelo </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://shoppingcity.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/h/short_feminino_amarelo_jeans_dobr_vel_2_.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Short bege </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.netshoes.com.br/produtos/kit-short-basico-feminino-c-3-pecas/72/MSX-0009-172/MSX-0009-172_zoom1.jpg?ts=1590752009&">
                    </div>
                    <div class="descricao">
                        <h2> Três shorts por :</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  
  
