.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.espaco{
  flex: 1 1 auto;
}
.icon{
  display: inline-block;
  margin: 0 10px;

}
#txtPesquisa{
  width: 500px;
  height: 40px;
  border-radius: 10px;
  margin-left: 100%;
  border: none;
  
}
