<nav class="breadcrumb"  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-feminina" >Moda feminina</a></li>
        <li class="breadcrumb-item active">Regata</li>
    </ol>
    
  </nav>

  <br>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cea.vtexassets.com/arquivos/ids/37336251-800-auto?v=637550640326000000&width=800&height=auto&aspect=true" >
                    </div>
                    <div class="descricao">
                        <h2> Regata Preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://a-static.mlcdn.com.br/618x463/regata-feminina-basica-adulta-de-alca-fina-preta-part-b/abafarto/5186539423/6549749a2ea0bc3a6bcc559757a67a3c.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Regata preta alça fina </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="	https://cdn.awsli.com.br/600x450/148/148679/produto/15872079/2f945fcc73.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Vovó Loading </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cdn.awsli.com.br/600x450/148/148679/produto/12175398/a7cc5f83aa.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Regata branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://www.rockzclub.com.br/wp-content/uploads/2017/08/FR276-Regata-Feminina-Marvel-Vingadores-Avengers.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Regata da Mavel</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  
  
