<nav class="breadcrumb "  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-masculina" >Moda masculina</a></li>
        <li class="breadcrumb-item active">Casaco</li>
    </ol>
  </nav>
  <br>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cea.vtexassets.com/arquivos/ids/8707351/Casaco-Masculino-Acolchoado-com-Capuz-e-Bolsos-Gola-Alta-Caramelo-8880178-Caramelo_1.jpg?v=636903318677230000">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cea.vtexassets.com/arquivos/ids/3177110/Casaco-Masculino-com-Sobreposicao-Gola-Alta-Preto-8868609-Preto_1.jpg?v=636625899897070000">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cdn.awsli.com.br/600x1000/4/4061/produto/18724351/1a92276b27.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images-soubarato.b2w.io/produtos/2511532033/imagens/casaco-masculino-de-veludo-espesso-de-trico-termico-termico-jaqueta-com-capuz-cor-correspondente/2511532041_2_large.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://fieroshop.vteximg.com.br/arquivos/ids/171118-1400-1400/casaco-masculino-para-neve-e-frio-intenso-feito-para-aquecer.jpg?v=637396807855400000">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  
  
 
