<nav class="breadcrumb"  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-feminina" >Moda feminina</a></li>
        <li class="breadcrumb-item active">Conjunto</li>
    </ol>
    
  </nav>

  <br>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://dafitistatic.dafiti.com.br/p/KS-CASUAL-%26-SPORT-Saia-Midi-Plissada-Azul-Marinho-6726-9726458-1-zoom.jpg" >
                    </div>
                    <div class="descricao">
                        <h2> Saia - Azul escura  </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://d1eas00czqkdr6.cloudfront.net/Custom/Content/Products/12/70/1270042_short-saia-feminino-com-cinto-e-ziper-na-lateral-64601531_m1_637620537171235500.png">
                    </div>
                    <div class="descricao">
                        <h2> Saia - Vermelho </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.zattini.com.br/produtos/shorts-saia-adooro!-com-bolso-feminino/88/ILV-0109-788/ILV-0109-788_zoom1.jpg?ts=1568820399">
                    </div>
                    <div class="descricao">
                        <h2> Saia - Salmão </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cea.vtexassets.com/arquivos/ids/22071274/Saia-Feminina-Curta-com-Brilho-Preta-9967415-Preto_1.jpg?v=637421024044300000
            ">
                    </div>
                    <div class="descricao">
                        <h2> Saia - cinza </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://http2.mlstatic.com/D_NQ_NP_645765-MLB46927330485_072021-W.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Três saias por:</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  
  
