<nav class="breadcrumb "  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-masculina" >Moda masculina</a></li>
        <li class="breadcrumb-item active">Camiseta</li>
    </ol>
  </nav>
  <br>

  
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://ph-cdn1.ecosweb.com.br/imagens01/foto/moda-masculina/camiseta-manga-curta/camiseta-preta-e-marrom-com-cava-raglan_304648_301_1.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta - bege </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images.lojanike.com.br/1024x1024/produto/camiseta-nike-sb-dri-fit-logo-masculina-AR4209-010-1.png">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta Nike </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-BRECOM-Site/Sites-master/pt_BR/dw35a80bcc/TH9711_7ZN_20.jpg?imwidth=915&impolicy=product">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta Lacoste </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 98,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cdn.awsli.com.br/600x450/148/148679/produto/10341133/1d5fb5959d.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta personalizada - Fone </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://www.guller.com.br/7912-medium_default/camiseta-personalizada-strar-wars-b%C3%A1sica-fashion-moda-ver%C3%A3o-estampada-masculina.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta personalizada - Star Wars</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
              <article>
                  <div class="imagem">
                      <img
                          src="https://img.elo7.com.br/product/zoom/179264F/30-4-camiseta-lobo-camisa.jpg">
                  </div>
                  <div class="descricao">
                      <h2> Camiseta personalizada - lobo</h2>
                  </div>
                  <div class="valor">
                      <h3>R$ 40,00</h3>
                  </div>
                  <div class="botao">
                      <button mat-raised-button >Comprar</button>
                  </div>
              </article>
          </th>
         
        
        </tr>
    </table>
  </div>
  
  
  <p>camiseta-mascu works!</p>
