<nav class="breadcrumb"  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-feminina" >Moda feminina</a></li>
        <li class="breadcrumb-item active">Blusa</li>
    </ol>
    
  </nav>

  <br>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://images.tcdn.com.br/img/img_prod/798207/blusa_feminina_em_crepe_poa_com_jabots_e_gola_alta_doce_flor_1017_1_20201013185903.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Blusa xadrez </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://static3.tcdn.com.br/img/img_prod/352023/blusa_feminina_wonder_woman_sunset_5263_1_20190808110019.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Mulher Maravilha </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://1259028l.ha.azioncdn.net/img/2021/06/produto/39040/1/large/blusa-feminina-com-estampa-de-gravataria-luana-frente.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Blusa social </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://ph-cdn1.ecosweb.com.br/imagens01/foto/plus-size-feminino/blusa-manga-curta/blusa-feminina-plus-size-secret-glam-vermelho_567626_600_1.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Blusa plus size - Vermelha</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cea.vtexassets.com/arquivos/ids/24082993/Blusa-Feminina-Canelada-com-Ziper-de-Argola-Manga-Curta-Gola-Alta-Amarela-Claro-9680111-Amarelo_Claro_1.jpg?v=637455625815930000">
                    </div>
                    <div class="descricao">
                        <h2> Blusa - Amarela</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  
  
