<nav class="breadcrumb"  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-feminina" >Moda feminina</a></li>
        <li class="breadcrumb-item active">Body</li>
    </ol>
    
  </nav>

  <br>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://a-static.mlcdn.com.br/618x463/body-feminino-cavado-aberto-nas-costas-com-bojo-moda-filo/modabarata/252f4da6ee4011ebb4364201ac18500e/21691cef70834a9b52b9158e2a69fa0c.jpg" >
                    </div>
                    <div class="descricao">
                        <h2> Dois bodys por: </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cdn.sistemawbuy.com.br/arquivos/e8ce11d411d88fa4965586814ef5a3b9/produtos/NO1KI3/body-fem-1g-60311f06e1517-60394c521cb2e-603fea4b964f4_mini.jpg">
                    </div>
                    <div class="descricao">
                        <h2>Quatro bodys por: </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://http2.mlstatic.com/D_NQ_NP_784382-MLB31657482849_082019-O.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Conjunto de bodys por: </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 147,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://www.rioutlet.com.br/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/d/a/dafitistatic-a.akamaihd.net_2fp_2frioutlet-body-rioutlet-decote-cavado-listrado-1708-4810813-1-zoom.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Body listrado </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
         
            
        </tr>
    </table>
  </div>
  
  
