<nav class="breadcrumb "  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-masculina" >Moda masculina</a></li>
        <li class="breadcrumb-item active">Camisa</li>
    </ol>
  </nav>

  
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cf.shopee.com.br/file/fb352195aee383e0bfe43b963867df38">
                    </div>
                    <div class="descricao">
                        <h2> Regata - preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://d2akm0nhugecrh.cloudfront.net/Custom/Content/Products/10/85/1085329_regata-color-100200481_m2_637616899097556968.jpg

                        ">
                    </div>
                    <div class="descricao">
                        <h2> Regata - Azul </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://images.tcdn.com.br/img/img_prod/680855/regata_machao_long_code_243_3_20190408090730.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Regata personalisada - preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://mhmcdn.manualdohomemmoderno.com.br/?w=750&h=450&quality=31&clipping=landscape&url=https://manualdohomemmoderno.com.br/files/2019/01/regata12.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Regata - Astronalta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://www.extra-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=103036627

                            ">
                    </div>
                    <div class="descricao">
                        <h2> Regata - bege</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
              <article>
                  <div class="imagem">
                      <img
                          src="https://images.tcdn.com.br/img/img_prod/726751/camiseta_regata_masculina_preta_com_estampa_florida_485_1_20200207154526.jpg
  
                          ">
                  </div>
                  <div class="descricao">
                      <h2> Regata - florida</h2>
                  </div>
                  <div class="valor">
                      <h3>R$ 140,00</h3>
                  </div>
                  <div class="botao">
                    <button mat-raised-button >Comprar</button>
                  </div>
              </article>
          </th>
         
        
        </tr>
    </table>
  </div>
  
  
 

