
<nav class="breadcrumb "  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        
        <li class="breadcrumb-item active">Moda masculina</li>
    </ol>
  </nav>
  
  <br>
  
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://ph-cdn1.ecosweb.com.br/imagens01/foto/moda-masculina/camiseta-manga-curta/camiseta-preta-e-marrom-com-cava-raglan_304648_301_1.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta - bege </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images.lojanike.com.br/1024x1024/produto/camiseta-nike-sb-dri-fit-logo-masculina-AR4209-010-1.png">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta Nike </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-BRECOM-Site/Sites-master/pt_BR/dw35a80bcc/TH9711_7ZN_20.jpg?imwidth=915&impolicy=product">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta Lacoste </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 98,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cdn.awsli.com.br/600x450/148/148679/produto/10341133/1d5fb5959d.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta personalizada - Fone </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://www.guller.com.br/7912-medium_default/camiseta-personalizada-strar-wars-b%C3%A1sica-fashion-moda-ver%C3%A3o-estampada-masculina.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta personalizada - Star Wars</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
              <article>
                  <div class="imagem">
                      <img
                          src="https://img.elo7.com.br/product/zoom/179264F/30-4-camiseta-lobo-camisa.jpg">
                  </div>
                  <div class="descricao">
                      <h2> Camiseta personalizada - lobo</h2>
                  </div>
                  <div class="valor">
                      <h3>R$ 40,00</h3>
                  </div>
                  <div class="botao">
                      <button>
                          COMPRAR
                      </button>
                  </div>
              </article>
          </th>
         
        
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.netshoes.com.br/produtos/camisa-sao-paulo-torcedor-under-armour/14/JTB-0002-014/JTB-0002-014_zoom1.jpg?ts=1632004482&ims=420x">
                    </div>
                    <div class="descricao">
                        <h2> Camisa do São Paulo </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images.lojanike.com.br/1024x1024/produto/camisa-nike-corinthians-ii-202021-torcedor-pro-masculina-CD4249-010-1-11626441460.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Camisa do Corinthians</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://472841-1484254-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2021/06/086019400-5.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Camisa do Palmeiras </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://static.netshoes.com.br/produtos/camisa-santos-ii-2021-sn-torcedor-umbro-masculina/28/D21-6213-028/D21-6213-028_zoom1.jpg?ts=1591029398&ims=544x
            ">
                    </div>
                    <div class="descricao">
                        <h2> Camisa do Santos </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.netshoes.com.br/produtos/camisa-flamengo-infantil-i-2021-sn-torcedor-adidas/02/COL-5655-002/COL-5655-002_zoom1.jpg?ts=1582025452&ims=544x">
                    </div>
                    <div class="descricao">
                        <h2> Camisa do Flamengo </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/39286fa07f154ee78ed2ab34014da99b_9366/Camisa_Internacional_Vermelho_FU1092_01_laydown.jpg">
                    </div>
                    <div class="descricao">
                        <h2>Camisa do Internacional </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.netshoes.com.br/produtos/bermuda-sarja-ecxo-ancora-masculina/18/LYU-0381-018/LYU-0381-018_zoom1.jpg?ts=1604668492">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/952/416/products/911-838086e19b37be969c15616943300022-1024-1024.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://i.pinimg.com/564x/77/bd/80/77bd80b5e13b76e0b1b793fc6e0fe2e3.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda jeans </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/109/024/products/32322-f11-d86b887cf47e476e9415950135653806-1024-1024.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.zattini.com.br/produtos/bermuda-jeans-ecxo-destroyed-masculina/08/LYU-0166-008/LYU-0166-008_zoom1.jpg?ts=1584118950&ims=544x">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
    </table>
</div>
<div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://idealvestrouparia.com.br/wp-content/uploads/2021/06/13138308857_201128539_2505715626238442_4803660659337461251_n.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Calça jeans - Azul </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 90,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cea.vtexassets.com/arquivos/ids/15106769/Calca-Jeans-
                        Masculina-Slim-com-Bolsos-Preta-9944003-Preto_1.jpg?v=637314617327700000">
                    </div>
                    <div class="descricao">
                        <h2> Calça jeans - Preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 82,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://http2.mlstatic.com/D_NQ_NP_986029-MLB31099196806_062019-O.jpg
                            ">
                    </div>
                    <div class="descricao">
                        <h2> Calça moletom - cinza </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 77,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cd.shoppub.com.br/benellys/media/cache/f3/8e/f38e5ad376adce88f1ef780e9e6ce07e.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Calça moletom - preta - Fé </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://images.tcdn.com.br/img/img_prod/964721/calca_moletom_termica_jogger_dry_peletizado_moletinho_77_3_f72422946a12e36d5bbd18f4eb7c26aa.png">
                    </div>
                    <div class="descricao">
                        <h2>Calça moletom - preta</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 110,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
    </table>
</div>
<div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://a-static.mlcdn.com.br/618x463/camisa-polo-piquet-com-gola-degrade-e-bolso-marinho-veneri/digaspi-lojaonline/16367/f1c5764333d3abaea9dfc7df49190209.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Polo preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 80,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://static.netshoes.com.br/produtos/camisa-polo-lacoste-original-fit-masculina/88/D66-0138-788/D66-0138-788_zoom1.jpg?ts=1560997147&ims=544x">
                    </div>
                    <div class="descricao">
                        <h2> Polo vermelha </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.riachuelo.com.br/RCHLO/14349698004/portrait/a1f8e03f45aa8a80aa2c500460ad6a3644a143d3.jpg?imwidth=272 ">
                    </div>
                    <div class="descricao">
                        <h2> Camisa longa - Azul </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cdn.iset.io/assets/53692/produtos/1320/camiseta-manga-longa-reserva-azul-marinho-1.jpg 
            ">
                    </div>
                    <div class="descricao">
                        <h2> Camisa longa - preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://images-americanas.b2w.io/produtos/01/00/img/2086879/0/2086879078_1GG.jpg ">
                    </div>
                    <div class="descricao">
                        <h2> Camisa personalizada</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
              <article>
                  <div class="imagem">
                      <img
                          src="https://static.dafiti.com.br/p/Oakley-Camisa-Manga-Curta-Oakley-Summer-Azul-6984-0725612-1-zoom.jpg 
  
                          ">
                  </div>
                  <div class="descricao">
                      <h2> Camisa xadrez</h2>
                  </div>
                  <div class="valor">
                      <h3>R$ 140,00</h3>
                  </div>
                  <div class="botao">
                      <button>
                          COMPRAR
                      </button>
                  </div>
              </article>
          </th>
         
        
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cea.vtexassets.com/arquivos/ids/8707351/Casaco-Masculino-Acolchoado-com-Capuz-e-Bolsos-Gola-Alta-Caramelo-8880178-Caramelo_1.jpg?v=636903318677230000">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cea.vtexassets.com/arquivos/ids/3177110/Casaco-Masculino-com-Sobreposicao-Gola-Alta-Preto-8868609-Preto_1.jpg?v=636625899897070000">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cdn.awsli.com.br/600x1000/4/4061/produto/18724351/1a92276b27.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images-soubarato.b2w.io/produtos/2511532033/imagens/casaco-masculino-de-veludo-espesso-de-trico-termico-termico-jaqueta-com-capuz-cor-correspondente/2511532041_2_large.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://fieroshop.vteximg.com.br/arquivos/ids/171118-1400-1400/casaco-masculino-para-neve-e-frio-intenso-feito-para-aquecer.jpg?v=637396807855400000">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cf.shopee.com.br/file/c6064e50f6672f6b0cdffcbc141475c9

                            ">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://a-static.mlcdn.com.br/618x463/kit-10-cuecas-boxer-falke-microfibra-masculina-cores-variadas-90-poliester-10-elastano/levante/6770359059/49034306cf03ea35bab893160f5c964f.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://mash.vteximg.com.br/arquivos/ids/182753-1000-1000/KIT-10-CUECAS-BOXER-COTTON-SORTIDO-03-MASH_11020.jpg?v=637522116262970000">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cdn.dooca.store/176/posts/post-und.jpg?v=1592249881&webp=0
            ">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  
  <div class="artigo">
    <table class="tabela">
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cdn.awsli.com.br/1000x1000/148/148679/produto/10408379/46fa00b9bc.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cd.shoppub.com.br/benellys/media/cache/7b/53/7b537d3bf813df49bc58628a29d70ca7.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://img.irroba.com.br/fit-in/600x600/filters:fill(transparent):quality(95)/seltenbr/catalog/moletom-masculino/free-fire/free-fire-2.png">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://a-static.mlcdn.com.br/618x463/moletom-masculino-canguru-carpa-estampado-full-blusa-de-frio-com-capuz-kazup/vaporelli/8999224205/2c388db931aadc7bc2732f71e6fff462.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://images-submarino.b2w.io/produtos/01/00/img/1485325/2/1485325241_1GG.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>



        </tr>
    </table>
</div>

  
 

  
  
 

  
  
  
  
