
<nav class="breadcrumb "  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-masculina" >Moda masculina</a></li>
        <li class="breadcrumb-item"><a routerLink="/camisa-masculina" >Camisa</a></li>
        <li class="breadcrumb-item active">Camisa Polo</li>
    </ol>
  </nav>
  
  <h2>Camisa polo</h2>
  
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://a-static.mlcdn.com.br/618x463/camisa-polo-piquet-com-gola-degrade-e-bolso-marinho-veneri/digaspi-lojaonline/16367/f1c5764333d3abaea9dfc7df49190209.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Polo preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 80,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://static.netshoes.com.br/produtos/camisa-polo-lacoste-original-fit-masculina/88/D66-0138-788/D66-0138-788_zoom1.jpg?ts=1560997147&ims=544x">
                    </div>
                    <div class="descricao">
                        <h2> Polo vermelha </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  
  
  