<nav class="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-masculina">Moda
                masculina</a></li>
        <li class="breadcrumb-item active">Camisa</li>
    </ol>


<div class="artigo">
    <table class="tabela">
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cdn.awsli.com.br/1000x1000/148/148679/produto/10408379/46fa00b9bc.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cd.shoppub.com.br/benellys/media/cache/7b/53/7b537d3bf813df49bc58628a29d70ca7.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://img.irroba.com.br/fit-in/600x600/filters:fill(transparent):quality(95)/seltenbr/catalog/moletom-masculino/free-fire/free-fire-2.png">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://a-static.mlcdn.com.br/618x463/moletom-masculino-canguru-carpa-estampado-full-blusa-de-frio-com-capuz-kazup/vaporelli/8999224205/2c388db931aadc7bc2732f71e6fff462.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://images-submarino.b2w.io/produtos/01/00/img/1485325/2/1485325241_1GG.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Bermuda Jeans destroyed</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>



        </tr>
    </table>
</div>
