<nav class="breadcrumb"  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active">Moda feminina</li>
    </ol>
    
  </nav>

  <br>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://images.tcdn.com.br/img/img_prod/798207/blusa_feminina_em_crepe_poa_com_jabots_e_gola_alta_doce_flor_1017_1_20201013185903.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Blusa xadrez </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://static3.tcdn.com.br/img/img_prod/352023/blusa_feminina_wonder_woman_sunset_5263_1_20190808110019.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Mulher Maravilha </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://1259028l.ha.azioncdn.net/img/2021/06/produto/39040/1/large/blusa-feminina-com-estampa-de-gravataria-luana-frente.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Blusa social </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://ph-cdn1.ecosweb.com.br/imagens01/foto/plus-size-feminino/blusa-manga-curta/blusa-feminina-plus-size-secret-glam-vermelho_567626_600_1.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Blusa plus size - Vermelha</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cea.vtexassets.com/arquivos/ids/24082993/Blusa-Feminina-Canelada-com-Ziper-de-Argola-Manga-Curta-Gola-Alta-Amarela-Claro-9680111-Amarelo_Claro_1.jpg?v=637455625815930000">
                    </div>
                    <div class="descricao">
                        <h2> Blusa - Amarela</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://a-static.mlcdn.com.br/618x463/body-feminino-cavado-aberto-nas-costas-com-bojo-moda-filo/modabarata/252f4da6ee4011ebb4364201ac18500e/21691cef70834a9b52b9158e2a69fa0c.jpg" >
                    </div>
                    <div class="descricao">
                        <h2> Dois bodys por: </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cdn.sistemawbuy.com.br/arquivos/e8ce11d411d88fa4965586814ef5a3b9/produtos/NO1KI3/body-fem-1g-60311f06e1517-60394c521cb2e-603fea4b964f4_mini.jpg">
                    </div>
                    <div class="descricao">
                        <h2>Quatro bodys por: </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://http2.mlstatic.com/D_NQ_NP_784382-MLB31657482849_082019-O.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Conjunto de bodys por: </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 147,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://www.rioutlet.com.br/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/d/a/dafitistatic-a.akamaihd.net_2fp_2frioutlet-body-rioutlet-decote-cavado-listrado-1708-4810813-1-zoom.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Body listrado </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
         
            
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cea.vtexassets.com/arquivos/ids/11718941/Calca-Jeans-Feminina-Super-Skinny-Cintura-Alta-Azul-Medio-9865438-Azul_Medio_1.jpg?v=637160030241930000 " >
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans - azul escura</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://static3.tcdn.com.br/img/img_prod/793834/calca_jeans_feminina_com_puidos_161013051_1_20200909093337.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans -  azul clara </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://images-americanas.b2w.io/produtos/1663097544/imagens/calca-jeans-feminina-jogger-cos-elastico-blogueira-jog01/3249689288_1_large.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://d3g3q9ec0sbhdi.cloudfront.net/Custom/Content/Products/31/67/31673_calca-jeans-feminina-mom-monnari-cjm8375-cjm8375_l2_637363875369509817.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans Clara  </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://img.elo7.com.br/product/600x380/30674E1/calca-jeans-feminina-plus-size-44-46-ao-58-60-62-64-66-3152-roupas-grandes-para-mulher.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans - plus size </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://m.media-amazon.com/images/I/51+ko4tZNxL._AC_SX679_.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans - plus size </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="	https://m.media-amazon.com/images/I/51cORWggWXL._AC_SY450_.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Casaco preto </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://shoppingcity.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/c/a/casaco_feminino_longo_camel_leeds_1.jpg

                        ">
                    </div>
                    <div class="descricao">
                        <h2> casaco bege </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cf.shopee.com.br/file/8c7020124ceb503d149adeb14a90bc53">
                    </div>
                    <div class="descricao">
                        <h2> Casaco cinza </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images2.marisa.com.br/medias/sys_master/images/images/hda/he8/12823067459614/Casaco-Feminino-Soft-Bolsos-Botoes-10047815957-C1.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Casaco </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://img.elo7.com.br/product/original/3701984/cardigan-feminino-trico-aberto-casaco-feminino-ref-52093-saia.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Casaco verde</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="	https://www.lojavirtual44.com.br/wp-content/uploads/2021/02/conjunto-feminino-short-e-cropped-de-alcinha-no-linho-atacado-rua-44-goiania-paula-pinheiro.jpg" >
                    </div>
                    <div class="descricao">
                        <h2> Conjunto - verde</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cdn.awsli.com.br/821/821403/produto/119626389/35ccbfbf42.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Conjunto - preto  </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="	https://cdn.fernandaramosstore.com.br/wp-content/uploads/2021/06/fernandaramosstore_com_br-conjunto-feminino-calca-e-blusa-fucsia-3.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Conjunto - Roxo </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://universo.mobonline.com.br/wp-content/uploads/2019/04/conjunto-feminino.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2>Conjunto - Onça </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="	https://images-americanas.b2w.io/produtos/01/00/img/2930951/5/2930951558_1GG.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Conjunto plus size</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://shoppingcity.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/a/macacao_feminino_pavao.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Macação florido </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images2.marisa.com.br/medias/sys_master/images/images/h7b/hcd/12661655601182/MACACAO-FEM-CAMBOS-JEANS-70041-AZL-38-10045925252-C1.jpg

                        ">
                    </div>
                    <div class="descricao">
                        <h2> Macação jeans</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cdn.iset.io/assets/55476/produtos/1530/thumb_500-500-macacao-sem-mangas-longo-preto__2_.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Macação preto </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://www.lojavirtual44.com.br/wp-content/uploads/2021/02/macacao-feminino-estampado-pantacourt-atacado-rua-44-goiania-rosa-modesto-moda-feminina.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Macação </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://rovitex.vteximg.com.br/arquivos/ids/350122-1400-1600/E13726-6054-03.jpg?v=637608513227900000">
                    </div>
                    <div class="descricao">
                        <h2>Macação verde</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cea.vtexassets.com/arquivos/ids/37336251-800-auto?v=637550640326000000&width=800&height=auto&aspect=true" >
                    </div>
                    <div class="descricao">
                        <h2> Regata Preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://a-static.mlcdn.com.br/618x463/regata-feminina-basica-adulta-de-alca-fina-preta-part-b/abafarto/5186539423/6549749a2ea0bc3a6bcc559757a67a3c.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Regata preta alça fina </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="	https://cdn.awsli.com.br/600x450/148/148679/produto/15872079/2f945fcc73.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Vovó Loading </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cdn.awsli.com.br/600x450/148/148679/produto/12175398/a7cc5f83aa.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Regata branca </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://www.rockzclub.com.br/wp-content/uploads/2017/08/FR276-Regata-Feminina-Marvel-Vingadores-Avengers.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Regata da Mavel</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://dafitistatic.dafiti.com.br/p/KS-CASUAL-%26-SPORT-Saia-Midi-Plissada-Azul-Marinho-6726-9726458-1-zoom.jpg" >
                    </div>
                    <div class="descricao">
                        <h2> Saia - Azul escura  </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://d1eas00czqkdr6.cloudfront.net/Custom/Content/Products/12/70/1270042_short-saia-feminino-com-cinto-e-ziper-na-lateral-64601531_m1_637620537171235500.png">
                    </div>
                    <div class="descricao">
                        <h2> Saia - Vermelho </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.zattini.com.br/produtos/shorts-saia-adooro!-com-bolso-feminino/88/ILV-0109-788/ILV-0109-788_zoom1.jpg?ts=1568820399">
                    </div>
                    <div class="descricao">
                        <h2> Saia - Salmão </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cea.vtexassets.com/arquivos/ids/22071274/Saia-Feminina-Curta-com-Brilho-Preta-9967415-Preto_1.jpg?v=637421024044300000
            ">
                    </div>
                    <div class="descricao">
                        <h2> Saia - cinza </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://http2.mlstatic.com/D_NQ_NP_645765-MLB46927330485_072021-W.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Três saias por:</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.dafiti.com.br/p/Bidoo-Short-Feminino-Estampado-Girassol-2315-5039807-1-zoom.jpg" >
                    </div>
                    <div class="descricao">
                        <h2> Short de Girassol </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images.tcdn.com.br/img/img_prod/585762/short_feminino_em_lastex_1149_5_72ef02d16cef3af05b8a93f54e637c00.jpeg">
                    </div>
                    <div class="descricao">
                        <h2> Conjunto de Short por: </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://39059.cdn.simplo7.net/static/39059/sku/short-praia-short-praia-feminino-short-de-praia-feminino-bulldog--p-1633002681956.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Short amarelo </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://shoppingcity.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/h/short_feminino_amarelo_jeans_dobr_vel_2_.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Short bege </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.netshoes.com.br/produtos/kit-short-basico-feminino-c-3-pecas/72/MSX-0009-172/MSX-0009-172_zoom1.jpg?ts=1590752009&">
                    </div>
                    <div class="descricao">
                        <h2> Três shorts por :</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://a-static.mlcdn.com.br/618x463/vestido-feminino-envelope-curto-chique-verao-2020-delverano/delveranocenter/dv23/a0ecaff5b27a349b7adac16faca518d3.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Vestido preto</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images2.marisa.com.br/medias/sys_master/images/images/h5c/hea/12284903587870/Vestido-Feminino-Midi-Canelado-Fendas-10043656516-C1.jpg

                        ">
                    </div>
                    <div class="descricao">
                        <h2> Vestido rosa</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://ph-cdn1.ecosweb.com.br/imagens01/foto/moda-feminina/vestido-curto/vestido-feminino-com-escrita-california-verde_602731_600_5.jpg">
                    </div>
                    <div class="descricao">
                        <h2>Vestido verde </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://www.lojasleader.com.br/media/catalog/product/cache/c9374bbd89641c59bc521af8dd3dd140/1/3/1346938-vestido-cava-americana-tucanos-03.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Vestido</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://images.tcdn.com.br/img/img_prod/765423/vestido_longo_estampado_1161_2_fbda32833ec671c62ccd90888a0bcb89.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Vestido florido </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  
  

  
  

  
  

  

  

  

  

  

  

  
  


