<nav class="breadcrumb"  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
    
  </nav>

  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://ph-cdn1.ecosweb.com.br/imagens01/foto/moda-masculina/camiseta-manga-curta/camiseta-preta-e-marrom-com-cava-raglan_304648_301_1.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta - bege </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
             <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://dafitistatic.dafiti.com.br/p/KS-CASUAL-%26-SPORT-Saia-Midi-Plissada-Azul-Marinho-6726-9726458-1-zoom.jpg" >
                    </div>
                    <div class="descricao">
                        <h2> Saia - Azul escura  </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images.lojanike.com.br/1024x1024/produto/camiseta-nike-sb-dri-fit-logo-masculina-AR4209-010-1.png">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta Nike </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            

        </tr>
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cdn.awsli.com.br/600x450/148/148679/produto/10341133/1d5fb5959d.jpg
            ">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta personalizada - Fone </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 103,99</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://www.guller.com.br/7912-medium_default/camiseta-personalizada-strar-wars-b%C3%A1sica-fashion-moda-ver%C3%A3o-estampada-masculina.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Camiseta personalizada - Star Wars</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 140,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://cea.vtexassets.com/arquivos/ids/11718941/Calca-Jeans-Feminina-Super-Skinny-Cintura-Alta-Azul-Medio-9865438-Azul_Medio_1.jpg?v=637160030241930000 " >
                    </div>
                    <div class="descricao">
                        <h2> Calça Jeans - azul escura</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
         
        
        </tr>
    </table>
  </div>
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.netshoes.com.br/produtos/camisa-sao-paulo-torcedor-under-armour/14/JTB-0002-014/JTB-0002-014_zoom1.jpg?ts=1632004482&ims=420x">
                    </div>
                    <div class="descricao">
                        <h2> Camisa do São Paulo </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://images.lojanike.com.br/1024x1024/produto/camisa-nike-corinthians-ii-202021-torcedor-pro-masculina-CD4249-010-1-11626441460.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Camisa do Corinthians</h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://472841-1484254-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2021/06/086019400-5.jpg">
                    </div>
                    <div class="descricao">
                        <h2> Camisa do Palmeiras </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 67,00</h3>
                    </div>
                    <div class="botao">
                        <button>
                            COMPRAR
                        </button>
                    </div>
                </article>
            </th>
        </tr>
    </table>
        <div class="artigo">
            <table class="tabela"> 
                <tr>
                    <th>
                        <article>
                            <div class="imagem">
                                <img
                                    src="https://images.tcdn.com.br/img/img_prod/798207/blusa_feminina_em_crepe_poa_com_jabots_e_gola_alta_doce_flor_1017_1_20201013185903.jpg">
                            </div>
                            <div class="descricao">
                                <h2> Blusa xadrez </h2>
                            </div>
                            <div class="valor">
                                <h3>R$ 67,00</h3>
                            </div>
                            <div class="botao">
                                <button>
                                    COMPRAR
                                </button>
                            </div>
                        </article>
                    </th>
                    <th>
                        <article>
                            <div class="imagem">
                                <img src="https://static3.tcdn.com.br/img/img_prod/352023/blusa_feminina_wonder_woman_sunset_5263_1_20190808110019.jpg">
                            </div>
                            <div class="descricao">
                                <h2> Mulher Maravilha </h2>
                            </div>
                            <div class="valor">
                                <h3>R$ 87,00</h3>
                            </div>
                            <div class="botao">
                                <button>
                                    COMPRAR
                                </button>
                            </div>
                        </article>
                    </th>
                    <th>
                        <article>
                            <div class="imagem">
                                <img
                                    src="https://1259028l.ha.azioncdn.net/img/2021/06/produto/39040/1/large/blusa-feminina-com-estampa-de-gravataria-luana-frente.jpg">
                            </div>
                            <div class="descricao">
                                <h2> Blusa social </h2>
                            </div>
                            <div class="valor">
                                <h3>R$ 67,00</h3>
                            </div>
                            <div class="botao">
                                <button>
                                    COMPRAR
                                </button>
                            </div>
                        </article>
                    </th>
                </tr>
                <tr>
                    <th>
                        <article>
                            <div class="imagem">
                                <img src="https://ph-cdn1.ecosweb.com.br/imagens01/foto/plus-size-feminino/blusa-manga-curta/blusa-feminina-plus-size-secret-glam-vermelho_567626_600_1.jpg
                    ">
                            </div>
                            <div class="descricao">
                                <h2> Blusa plus size - Vermelha</h2>
                            </div>
                            <div class="valor">
                                <h3>R$ 103,99</h3>
                            </div>
                            <div class="botao">
                                <button>
                                    COMPRAR
                                </button>
                            </div>
                        </article>
                    </th>
                    <th>
                        <article>
                            <div class="imagem">
                                <img
                                    src="https://cea.vtexassets.com/arquivos/ids/24082993/Blusa-Feminina-Canelada-com-Ziper-de-Argola-Manga-Curta-Gola-Alta-Amarela-Claro-9680111-Amarelo_Claro_1.jpg?v=637455625815930000">
                            </div>
                            <div class="descricao">
                                <h2> Blusa - Amarela</h2>
                            </div>
                            <div class="valor">
                                <h3>R$ 140,00</h3>
                            </div>
                            <div class="botao">
                                <button>
                                    COMPRAR
                                </button>
                            </div>
                        </article>
                    </th>
                    
                </tr>
                <tr>
                    <th>
                        <article>
                            <div class="imagem">
                                <img src="https://static.netshoes.com.br/produtos/camisa-santos-ii-2021-sn-torcedor-umbro-masculina/28/D21-6213-028/D21-6213-028_zoom1.jpg?ts=1591029398&ims=544x
                    ">
                            </div>
                            <div class="descricao">
                                <h2> Camisa do Santos </h2>
                            </div>
                            <div class="valor">
                                <h3>R$ 103,99</h3>
                            </div>
                            <div class="botao">
                                <button>
                                    COMPRAR
                                </button>
                            </div>
                        </article>
                    </th>
                    <th>
                        <article>
                            <div class="imagem">
                                <img
                                    src="https://static.netshoes.com.br/produtos/camisa-flamengo-infantil-i-2021-sn-torcedor-adidas/02/COL-5655-002/COL-5655-002_zoom1.jpg?ts=1582025452&ims=544x">
                            </div>
                            <div class="descricao">
                                <h2> Camisa do Flamengo </h2>
                            </div>
                            <div class="valor">
                                <h3>R$ 67,00</h3>
                            </div>
                            <div class="botao">
                                <button>
                                    COMPRAR
                                </button>
                            </div>
                        </article>
                    </th>
                    <th>
                        <article>
                            <div class="imagem">
                                <img
                                    src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/39286fa07f154ee78ed2ab34014da99b_9366/Camisa_Internacional_Vermelho_FU1092_01_laydown.jpg">
                            </div>
                            <div class="descricao">
                                <h2>Camisa do Internacional </h2>
                            </div>
                            <div class="valor">
                                <h3>R$ 67,00</h3>
                            </div>
                            <div class="botao">
                                <button>
                                    COMPRAR
                                </button>
                            </div>
                        </article>
                    </th>
                </tr>
            </table>
          </div>
          <div class="artigo">
            <table class="tabela"> 
                <tr>
                    <th>
                        <article>
                            <div class="imagem">
                                <img
                                    src="https://static.netshoes.com.br/produtos/bermuda-sarja-ecxo-ancora-masculina/18/LYU-0381-018/LYU-0381-018_zoom1.jpg?ts=1604668492">
                            </div>
                            <div class="descricao">
                                <h2> Bermuda branca </h2>
                            </div>
                            <div class="valor">
                                <h3>R$ 67,00</h3>
                            </div>
                            <div class="botao">
                                <button>
                                    COMPRAR
                                </button>
                            </div>
                        </article>
                    </th>
                    <th>
                        <article>
                            <div class="imagem">
                                <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/952/416/products/911-838086e19b37be969c15616943300022-1024-1024.jpg
                    ">
                            </div>
                            <div class="descricao">
                                <h2> Bermuda Preta </h2>
                            </div>
                            <div class="valor">
                                <h3>R$ 87,00</h3>
                            </div>
                            <div class="botao">
                                <button>
                                    COMPRAR
                                </button>
                            </div>
                        </article>
                    </th>
                    <th>
                        <article>
                            <div class="imagem">
                                <img
                                    src="https://i.pinimg.com/564x/77/bd/80/77bd80b5e13b76e0b1b793fc6e0fe2e3.jpg">
                            </div>
                            <div class="descricao">
                                <h2> Bermuda jeans </h2>
                            </div>
                            <div class="valor">
                                <h3>R$ 67,00</h3>
                            </div>
                            <div class="botao">
                                <button>
                                    COMPRAR
                                </button>
                            </div>
                        </article>
                    </th>
                </tr>