
<nav class="breadcrumb "  >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/moda-masculina" >Moda masculina</a></li>
        <li class="breadcrumb-item"><a routerLink="/camisa-masculina" >Camisa</a></li>
        <li class="breadcrumb-item active">Camisa Longa</li>
    </ol>
  </nav>
 
  <h2>Camisa Longa</h2>
  
  <div class="artigo">
    <table class="tabela"> 
        <tr>
            <th>
                <article>
                    <div class="imagem">
                        <img
                            src="https://static.riachuelo.com.br/RCHLO/14349698004/portrait/a1f8e03f45aa8a80aa2c500460ad6a3644a143d3.jpg?imwidth=272">
                    </div>
                    <div class="descricao">
                        <h2> Polo preta </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 80,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class="imagem">
                        <img src="https://cdn.iset.io/assets/53692/produtos/1320/camiseta-manga-longa-reserva-azul-marinho-1.jpg ">
                    </div>
                    <div class="descricao">
                        <h2> Polo vermelha </h2>
                    </div>
                    <div class="valor">
                        <h3>R$ 87,00</h3>
                    </div>
                    <div class="botao">
                        <button mat-raised-button >Comprar</button>
                    </div>
                </article>
            </th>
            
        </tr>
    </table>
  </div>
  
  
  
